.page {
  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }

  &__controls {
    margin-bottom: 20px;
    button {
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }


  }

  &__content {
    min-height: 700px;
  }
}
